<div class="card mb-3 shadow bg-white">
    <div class="row m-0">
        <div class="col-lg-4 d-none d-lg-block px-0 bg-secondary">
            <img class="h-100 w-100" src="" alt=""/>
        </div>
        <div class="col-12 col-lg-8 px-0">
            <table class="table table-borderless mb-0">
                <thead>
                    <tr class="border-bottom text-secondary text-center">
                        <th>Type</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center text-secondary small">
                        <td>XXX</td>
                        <td>DDDDDDDDDD</td>
                        <td>$ 0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>