<section class="contact-s2 minh-25vh container-fluid d-flex align-items-center py-5">
    <div class="row w-100 mx-0">
        <div class="col-12 col-md-7 minh-25vh"></div>
        <div class="col-10 col-md-5 mx-auto d-flex align-items-center">
            <div>
                <img class="navbar-logo" src="img/navbar_logo.png" alt="logo"/>
                <h1 class="display-3">Lorem ipsum</h1>
                <p class="">
                    Fusce suscipit, neque vel tincidunt sollicitudin, libero magna laoreet massa, 
                    eu pretium leo eros at mauris. Phasellus a lacus ipsum. Maecenas dapibus nisi 
                    ac fringilla pretium.
                </p>
                <address>
                    Fusce suscipit<br/>
                    neque vel tincidunt<br/>
                    pretium leo<br/>
                    Phasellus a lacus
                </address>
            </div>
        </div>
    </div>
</section>    