<header class="position-absolute w-100">
    <nav class="navbar navbar-light navbar-expand-md">
        <a href="#!/" class="navbar-brand">
            <img class="navbar-logo" src="img/navbar_logo.png" alt="logo"/>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav ms-auto text-end">
                <li class="nav-item" data-ng-repeat="item in navMenu">
                    <a href="{{'#!'+item.path}}" class="nav-link"><span data-ng-bind-html="item.name"></span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>