<div class="card shadow mb-3 bg-white" id="payment-data">
    <div class="card-header">
        <h6 class="text-secondary mb-0 d-inline-block">
            Payment data
        </h6>
    </div>
    <div class="card-body collapse show row">
        <div class="col-12 col-md-4 col-lg-4">
            <h6 class="mb-2 text-secondary border-bottom pb-2">
                Pay with:
            </h6> 
            <div class="input-group input-group-sm mb-2 ps-3 small">                                
                <label class="form-check-label text-secondary">
                    <input type="radio" class="form-check-control"/>
                    Credit card
                </label>    
            </div>   
            <div class="input-group input-group-sm mb-2 ps-3 small">                                
                <label class="form-check-label text-secondary">
                    <input type="radio" class="form-check-control"/>
                    Cash
                </label>    
            </div>        
            <div class="input-group input-group-sm mb-2 ps-3 small">                                
                <label class="form-check-label text-secondary">
                    <input type="radio" class="form-check-control"/>
                    Blik
                </label>    
            </div> 
        </div>
        <div class="col-12 col-md-8 col-lg-4">
            <h6 class="mb-2 text-secondary border-bottom pb-2">
                Payment details:
            </h6> 
            <div class="input-group input-group-sm mb-2">
                <label class="input-group-text bg-secondary">Credit card number:</label>
                <input type="text" class="form-control border-start-0 text-end bg-secondary" readonly/>
            </div>
            <div class="input-group input-group-sm mb-2">
                <label class="input-group-text bg-secondary">Blik code:</label>
                <input type="text" class="form-control border-start-0 text-end bg-secondary" readonly/>
            </div>   
        </div>  
        <div class="col-12 col-lg-4">
            <div class="mx-2 text-end pt-3">
                <a href="#personal-data" class="btn btn-sm btn-outline-secondary rounded-pill d-inline-block d-md-none">Previous</a>
                <button href="#" class="btn btn-sm btn-secondary rounded-pill">Continue</button>
            </div>   
        </div>
    </div>
</div>