<section class="tips-s2 minh-75vh container-fluid d-flex align-items-start py-5">
    <div class="row w-100 mx-0 mt-5 pt-5">
        <div class="col-12 col-sm-8 col-md-7 col-lg-6 mx-auto">
            <div class="accordion small" id="info-accordion">
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button bg-light text-secondary" data-bs-toggle="collapse" data-bs-target="#acc-item-1">
                            Proin faucibus
                        </button>
                    </div>
                    <div class="collapse accordion-collapse" id="acc-item-1">
                        <div class="accordion-body">
                            <p class="text-secondary">
                                Suspendisse accumsan nulla leo. Vivamus eu leo iaculis, sollicitudin ante sed, 
                                bibendum elit. Maecenas tellus nunc, pharetra in augue a, efficitur ultrices 
                                lectus. Morbi eget enim bibendum, ullamcorper massa at, convallis urna. Donec 
                                placerat lacus nec urna sagittis tempor. Aliquam dictum quam elit, non fermentum 
                                turpis congue in.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button bg-light text-secondary" data-bs-toggle="collapse" data-bs-target="#acc-item-2">
                            Aliquam dictum
                        </button>
                    </div>
                    <div class="collapse accordion-collapse" id="acc-item-2">
                        <div class="accordion-body">
                            <p class="text-secondary">
                                Suspendisse accumsan nulla leo. Vivamus eu leo iaculis, sollicitudin ante sed, 
                                bibendum elit. Maecenas tellus nunc, pharetra in augue a, efficitur ultrices 
                                lectus. Morbi eget enim bibendum, ullamcorper massa at, convallis urna. Donec 
                                placerat lacus nec urna sagittis tempor. Aliquam dictum quam elit, non fermentum 
                                turpis congue in.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button bg-light text-secondary" data-bs-toggle="collapse" data-bs-target="#acc-item-3">
                            Maecenas tellus
                        </button>
                    </div>
                    <div class="collapse accordion-collapse" id="acc-item-3">
                        <div class="accordion-body">
                            <p class="text-secondary">
                                Suspendisse accumsan nulla leo. Vivamus eu leo iaculis, sollicitudin ante sed, 
                                bibendum elit. Maecenas tellus nunc, pharetra in augue a, efficitur ultrices 
                                lectus. Morbi eget enim bibendum, ullamcorper massa at, convallis urna. Donec 
                                placerat lacus nec urna sagittis tempor. Aliquam dictum quam elit, non fermentum 
                                turpis congue in.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button bg-light text-secondary" data-bs-toggle="collapse" data-bs-target="#acc-item-4">
                            Vivamus eu leo iaculis
                        </button>
                    </div>
                    <div class="collapse accordion-collapse" id="acc-item-4">
                        <div class="accordion-body">
                            <p class="text-secondary">
                                Suspendisse accumsan nulla leo. Vivamus eu leo iaculis, sollicitudin ante sed, 
                                bibendum elit. Maecenas tellus nunc, pharetra in augue a, efficitur ultrices 
                                lectus. Morbi eget enim bibendum, ullamcorper massa at, convallis urna. Donec 
                                placerat lacus nec urna sagittis tempor. Aliquam dictum quam elit, non fermentum 
                                turpis congue in.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button bg-light text-secondary" data-bs-toggle="collapse" data-bs-target="#acc-item-5">
                            Etiam non dapibus
                        </button>
                    </div>
                    <div class="collapse accordion-collapse" id="acc-item-5">
                        <div class="accordion-body">
                            <p class="text-secondary">
                                Suspendisse accumsan nulla leo. Vivamus eu leo iaculis, sollicitudin ante sed, 
                                bibendum elit. Maecenas tellus nunc, pharetra in augue a, efficitur ultrices 
                                lectus. Morbi eget enim bibendum, ullamcorper massa at, convallis urna. Donec 
                                placerat lacus nec urna sagittis tempor. Aliquam dictum quam elit, non fermentum 
                                turpis congue in.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class="accordion-button bg-light text-secondary" data-bs-toggle="collapse" data-bs-target="#acc-item-6">
                            Nulla ut blandit
                        </button>
                    </div>
                    <div class="collapse accordion-collapse" id="acc-item-6">
                        <div class="accordion-body">
                            <p class="text-secondary">
                                Suspendisse accumsan nulla leo. Vivamus eu leo iaculis, sollicitudin ante sed, 
                                bibendum elit. Maecenas tellus nunc, pharetra in augue a, efficitur ultrices 
                                lectus. Morbi eget enim bibendum, ullamcorper massa at, convallis urna. Donec 
                                placerat lacus nec urna sagittis tempor. Aliquam dictum quam elit, non fermentum 
                                turpis congue in.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>